﻿
@import url('https://fonts.googleapis.com/css?family=Raleway'); /*'Raleway', sans-serif;*/

.mainBlogHead {
    font-size: 50pt;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top: 10%;
}

.dataListMiddle {
    margin: 0 auto;
    width: 1000px;
}

.mainPageBody {
    position: relative;
    background-color: #eee;
    text-align: center;
    padding: 25px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin-top: 60px;
}

    .mainPageBody h2 {
        margin: 0;
        padding: 0;
    }

.linkHeaderMainPage, .linkHeaderMainPage a:active, .linkHeaderMainPage a:hover, .linkHeaderMainPage a:visited {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

.linkEditMainPage, .linkEditMainPage a:active, .linkEditMainPage a:hover, .linkEditMainPage a:visited {
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
    margin-right: 30px;
}

.publicationDateMainPage {
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-size: 8pt;
    text-align: left;
}

.contentDefaultPage {
    font-family: 'Raleway', sans-serif;
}

.labelEditPage {
    font-size: 8pt;
    display: inline-block;
    width: 100px;
}

.textBoxEditPage {
}

.defaultHyperLink, .defaultHyperLink a:active, .defaultHyperLink a:hover, .defaultHyperLink a:visited{
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.searchContanier {
    text-align: right;
}

.editContanier {
}

.inner {
    display: inline-block;
    vertical-align: top;
}

.editHyperLinkDefaultPage {
    text-align: left;
}

.contentPostPage {
    text-align: justify;
}

.textEditYourPostEditPostPage {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.updateButtonEditPage {
    width: 100%;
    height: auto;
    text-align: center;
    vertical-align: middle;
}

.mainDivEditPage {
    width: 500px;
}

.textSearchPage {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

.toDefaultPageHyperLink {
    text-align: right;
}

    .toDefaultPageHyperLink a {
        color: black;
        background: #eee;
        text-decoration: none;
    }

.labelEditPage2 {
    font-size: 8pt;
}
